body {
    margin: 0;
    background-image: url(./Bilder/field-start-blau.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

  /******************SPLASH-SCREEN***********************/

  #splash-screen {
    height: 200px;
    flex-direction: column;
    justify-content: center;
    user-select: none;
  }

  #field-image{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0%;
  }

  #start-btn {
    background: blue;
    color: white;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px; 
  }

  /*----------------------------------------------------------------*/

  .image1, .image2 {
    width: 380px;
    height: 80px;
    position: absolute;
    opacity: 0;
    animation: fadeInOut 0.5s linear infinite alternate;
  }
  
  /* Animación para intercalar las imágenes */
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .image2 {
    animation-delay: -0.25s; /* Retrasa la animación de la segunda imagen en -2 segundos */
  }

/*----------------------------------------------------------------*/



    /******************GAME-SCREEN***********************/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #game-screen {
    display: none;
    flex-direction: row;
  }
    

  #game-box {
    width:530px;
    height:795px;
    /* overflow: hidden; */
    position: relative;
    user-select: none;
    background-image: url('./Bilder/field-cartoon-fn.jpg');
    background-position: center;
    background-size: contain;
  }

  .score-lives-container {
    display: flex;
    justify-content: space-between;
  }

  #scoreDisplay,
  #livesDisplay {
    margin-top: 5px;
    padding-top: 5px;
  }

  #scoreDisplay {
    width: 100px;
    font-family: 'Press Start 2P', cursive; /* Aplicar la fuente Press Start 2P */
    font-size: 20px; /* Tamaño del texto */
    color: #fff; /* Color del texto */
    background-color: #4CAF50; /* Color de fondo */
    padding: 10px; /* Relleno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  #score {
    width: 100px;
    background-color: #4CAF50; /* Cambio del color verde a un tono más moderno */
    font-family: 'Bangers', cursive; /* Aplicar la fuente Bangers */
    font-size: 15px; /* Aumentar el tamaño del texto para enfatizar el
    color: #fff; /* Usar un color blanco para el texto en lugar de 'azure' */
    border-radius: 8px; /* Agregar bordes redondeados para un aspecto más suave */
    padding: 10px; /* Agregar relleno para mejorar la legibilidad y apariencia */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Añadir una ligera sombra para destacar el elemento */
  }

  #livesDisplay {
    width: 100px;
    font-family: 'Press Start 2P', cursive; /* Aplicar la fuente Press Start 2P */
    font-size: 20px; /* Tamaño del texto */
    color: #fff; /* Color del texto */
    background-color:red; /* Color de fondo */
    padding: 10px; /* Relleno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  #lives {
    width: 100px;
    background-color: red; /* Cambio del color verde a un tono más moderno */
    font-family: 'Bangers', cursive; /* Aplicar la fuente Bangers */
    font-size: 15px; /* Aumentar el tamaño del texto para enfatizar el
    color: #fff; /* Usar un color blanco para el texto en lugar de 'azure' */
    border-radius: 8px; /* Agregar bordes redondeados para un aspecto más suave */
    padding: 10px; /* Agregar relleno para mejorar la legibilidad y apariencia */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Añadir una ligera sombra para destacar el elemento */
  }

  #tribune {
    position: relative;
    user-select: none;
  }


  #pitcher {
    padding-top: 50px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 15px;

  }

  /******************GAMEOVER-SCREEN***********************/

  #gameOver-screen {
    display: none;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    user-select: none;
  }

  #bats-image{
    display: none;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    align-items: center;
    margin: 50px;

  }

  #restart-btn {
    background: blue;
    color: white;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    user-select: none;
  }
