body {
    margin: 0;
    background-image: url(./Bilder/field-start-blau.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }

  #start-btn {
    background: blue;
    color: white;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px; 
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

/*----------------------------------------------------------------*/

  .image1, .image2 {
    width: 250px;
    height: 100px;
    position: absolute;
    opacity: 0;
    /* animation: fadeInOut 0.25s linear infinite alternate; */
  }
  
  /* Animación para intercalar las imágenes */
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .image2 {
    animation-delay: -0.125s; /* Retrasa la animación de la segunda imagen en -2 segundos */
  }

/*----------------------------------------------------------------*/

  #field-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;

  }
    

  #game-box {
    background-color: darkgray;
    width:530px;
    height:795px;
    overflow: hidden;
    position: relative;
    user-select: none;
    background-image: url('./Bilder/field-cartoon-fn.jpg');
    background-position: center;
    background-size: contain;
  }

  /* #ball {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 25px;
    left: 0px; */

  }

  #blitz {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 200px;
  }
  

  #pitcher {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 15px;

  }

  #batter {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 685px;
    left: 220px; /*posición al iniciar/reiniciar el juego*/

  }
  
  
  #game-screen {
    display: none;
    flex-direction: row;
    
  }
  
  #gameover-screen {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
  }
